.imgstyle{
	width:100%;
	height:auto;
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);}
.thumb{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-top: 5px;
}

.content {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides img {
  max-width: 100%;
  max-height: auto;
  display: block;
  background: black;
  vertical-align: middle
}
body {
  overflow: hidden;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
